//
// Compass imports
// --------------------------------
@import 'compass/css3/animation';
@import 'compass/css3/images';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/flexbox';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';

//
// Colors
// --------------------------------

$main-color: #2b3b57 !default;
$text-color: #363636 !default;
$light-color: #eee !default;
$dark-color: #363636 !default;
$inverse-color: #444 !default;
$disabled-color: #d7dce5 !default;

$primary-color: #f42957 !default;
$success-color: #393 !default;

$header-bg-color: #fff !default;
$header-color: #2b3b57 !default;
$header-hover-color: #f42957 !default;

$toolbar-bg-color: #292929 !default;
$toolbar-color: #fff !default;
$toolbar-hover-color: $primary-color !default;

$search-border-color: #cbced5 !default;
$search-height: 70px !default;


$black: #000;
$white: #fff;
$gray: #999;

$facebook: #3b5998;
$twitter: #55acee;

//
// Base
// --------------------------------

$text-color-base: #363636 !default;
$font-family-base: Helvetica Neue, Helvetica, Arial, sans-serif !default;
$font-size-base: 16px !default;

$jwy-icon-path: '../fonts' !default;

$container-width-mobile: 100%;
$container-width-tablet: 685px;
$container-width-desktop: 800px;

//
// Responsive
// --------------------------------

$mobile-max-width: 767px !default;
$tablet-max-width: 991px !default;

$tablet-min-width: $mobile-max-width + 1 !default;
$desktop-min-width: $tablet-max-width + 1 !default;

//
// Themes
// --------------------------------

$theme-light-bg-color: #d7dbe6 !default;
$theme-dark-bg-color: #363636 !default;

$theme-light-slider-slide-loading-bg-color: #979797 !default;
$theme-dark-slider-slide-loading-bg-color: #1a1a1a !default;

$theme-light-slider-title-error-color: #979797 !default;
$theme-dark-slider-title-error-color: #979797 !default;

//
// Header
// --------------------------------

$header-height: 90px !default;
$header-nav-width: 120px !default;
$header-bg-color: #fff !default;
$header-padding: 10px;

$header-height-mobile: 60px !default;
$header-nav-width-mobile: 50px !default;

//
// Toolbar
// --------------------------------

$toolbar-height: 50px !default;
$toolbar-padding: 10px !default;
$toolbar-bg-color: #292929 !default;
$toolbar-nav-width: 60px !default;

//
// Card
// --------------------------------

$card-text-color: #4a4a4a !default;

//
// Dialog
// --------------------------------

$popover-text-color: #4a4a4a !default;

//
// Card toasts
// --------------------------------

$card-toast-removed-bg-color: $primary-color !default;
$card-toast-added-bg-color: $success-color !default;

//
// Card slider
// --------------------------------

$featured-slider-bg-color: #111 !default;

//
// Z-index
// --------------------------------

$view-z-index: 5;
$loading-z-index: 10;
$header-z-index: 15;
$toolbar-z-index: 15;
$sidebar-z-index: 20;
$popups-z-index: 25;
