//
// Compass imports
// --------------------------------
@import 'compass/css3/animation';
@import 'compass/css3/images';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/flexbox';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';
//
// Import variables
// --------------------------------
@import 'variables';
//
// Import mixins
// --------------------------------
@import 'mixins/buttons';
@import 'mixins/responsive';
@import 'mixins/utils';
//
// Import components
// --------------------------------
@import 'components/accessibility';
@import 'components/animations';
@import 'components/buttons';
@import 'components/card';
@import 'components/cardGrid';
@import 'components/cardList';
@import 'components/cardMenu';
@import 'components/cardPoster';
@import 'components/cardSlider';
@import 'components/collapsibleText';
@import 'components/content';
@import 'components/cookies';
@import 'components/cover';
@import 'components/floatingLabel';
@import 'components/footer';
@import 'components/grid';
@import 'components/header';
@import 'components/icons';
@import 'components/loading';
@import 'components/markdown';
@import 'components/modal';
@import 'components/offline';
@import 'components/player';
@import 'components/popups';
@import 'components/rail';
@import 'components/reset';
@import 'components/scroll';
@import 'components/search';
@import 'components/sidebar';
@import 'components/toggle';
@import 'components/toolbar';
@import 'components/videoContainer';
@import 'components/videoDetails';
@import 'components/videoLayout';
@import 'components/view';
@import 'components/visibility';
//
// Import themes
// --------------------------------
@import 'themes/light';
@import 'themes/dark';
@import 'themes/blue';

html {
    height: 100%;
    min-height: 100%;
}

body {
    @include user-select(none);

    min-width: 320px;
    margin: 0;
    padding: 0;

    font-size: $body-font-size;

    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
    overflow-y: scroll;
}
