//
// jwCard
// --------------------------------

.jw-card {
    position: relative;
    font-size: rem(15px);

    body:not(.jw-flag-touch) & {

        &.jw-card-flag-active,
        &:hover {
            .jw-card-controls {
                opacity: 1;
            }
        }
    }

    &-flag-menu-open,
    &-flag-toast-open {
        .jw-card-watchlist-button {
            @include transform(scale(0) !important);
        }
    }

    &-flag-hide-text {
        .jw-card-title,
        .jw-card-description {
            display: none !important;
        }
    }

    &.jw-lazy-load {

        .jw-card-poster {
            display: none !important;
            background: none !important;
        }
    }

    .jw-button-watchlist {
        @include single-transition(transform, 0.2s, cubic-bezier(0.48, 0.76, 0.39, 1.15), 0s);
        position: absolute;
        top: -14px;
        left: 2px;

        &:hover {
            @include transform(scale(1.2));
        }

        &.ng-enter,
        &.ng-leave.ng-leave-active {
            @include transform(scale(0));
        }

        &.ng-enter.ng-enter-active,
        &.ng-leave {
            @include transform(scale(1));
        }

        .jwy-icon {
            font-size: rem(26px);
        }
    }

    .jw-card-aspect {
        position: relative;
        padding-bottom: (9 / 16) * 100%;
    }

    .jw-card-container {
        @include display-flex();
        @include flex-direction(column);
        @include cover();
        @include single-transition(background, 0.2s, ease, 0s);
        background: rgba($black, 0.1);
        cursor: pointer;
    }

    .jw-card-controls {
        @include display-flex();
        @include flex(1 1 auto);
        @include single-transition(opacity, 0.2s, ease, 0s);
        position: relative;
        opacity: 0;
    }

    .jw-card-controls-align {
        @include flex(1 1 auto);
        @include align-self(center);
        text-align: center;
    }

    .jw-card-info {
        @include flex(0 1 auto);
        color: $white;
    }

    .jw-card-duration {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px 8px;

        font-size: rem(14px);
    }

    .jw-card-text {
        color: $white;
    }

    .jw-card-text-now-playing {
        display: none;
        font-size: rem(16px);
    }

    .jw-card-title {
        display: inline-block;
        width: 100%;
        padding: 0 10px;

        font-weight: bold;
        line-height: 39px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .jw-card-description {
        padding: 0 10px;

        font-size: rem(14px);
        line-height: rem(16px);
        overflow: hidden;
    }

    .jw-card-play-button {
        @include single-transition(opacity, 0.05s, ease-out, 0s);
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .jw-card-menu-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px 0 10px;

        font-size: rem(16px);
        line-height: 40px;
        text-align: center;
        cursor: pointer;

        &:hover .jwy-icon {
            color: $primary-color;
        }

        .jwy-icon {
            vertical-align: middle;
        }
    }

    .jw-card-toast-container {
        &.ng-enter,
        &.ng-leave {
            @include single-transition(opacity, 0.2s, ease);
        }

        &.ng-enter {
            opacity: 0;
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave {
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            opacity: 0;
        }
    }

    .jw-card-toast {
        @include cover();

        &.jw-card-toast-primary {
            background-color: $primary-color;
            color: $white;
        }

        &.jw-card-toast-success {
            background-color: $success-color;
            color: $white;

            .jwy-icon-stack .jwy-icon {
                color: $success-color;
            }
        }

        .jw-card-toast-container {
            @include transform(translateY(-50%));

            position: absolute;
            top: 50%;
            width: 100%;

            font-size: rem(16px);
            text-align: center;

            .jw-card-toast-icon {
                margin-bottom: 10px;
                font-size: 3em;
            }
        }
    }
}

//
// jwCard-flag-default
// --------------------------------

.jw-card.jw-card-flag-default {
    padding-bottom: 39px;

    body:not(.jw-flag-touch) & {

        &:hover {

            .jw-card-container {
                background-color: rgba($black, 0.6);
            }

            .jw-card-info .jw-card-info-mask {
                height: 100px;
            }
        }
    }

    .jw-card-info-mask {
        @include transition(height 0.2s ease);
        height: 39px;
        overflow: hidden;
    }

    .jw-card-info {
        position: relative;
    }

    .jw-card-description {
        display: block;
        display: -webkit-box;
        max-height: 3 * 16px;

        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .jw-card-watch-progress {
        position: absolute;
        top: -4px;
        left: 0;
        width: 0;
        height: 4px;

        background: $primary-color;
    }

}

//
// jwCard-flag-featured
// --------------------------------

.jw-card.jw-card-flag-featured {
    font-size: 32px;

    &:hover .jw-card-container {
        background-color: transparent;
    }

    .jw-card-duration,
    .jw-card-menu-button {
        display: none;
    }

    .jw-card-info {
        padding-bottom: 10px;
    }

    .jw-card-title {
        padding: 0 50px 20px;
        line-height: normal;
    }

    .jw-card-description {
        display: block;
        display: -webkit-box;
        max-height: 6 * 18px;
        padding: 0 150px 0 50px;
        line-height: 18px;

        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .jw-card-controls-align {
        margin-top: 4%;
    }

    .jw-card-container {
        background-color: rgba($black, 0.35);
    }

    .jw-button-watchlist {
        display: none;
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-card.jw-card-flag-featured .jw-card-title {
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .jw-card.jw-card-flag-featured .jw-card-description {
        max-height: 2 * 18px;
        padding: 0 20px;

        -webkit-line-clamp: 2;
    }
}

@include mobile-and-tablet () {

    .jw-card.jw-card-flag-featured {
        font-size: 21px;
    }
}

@include tablet-only () {

    .jw-card.jw-card-flag-featured {

        .jw-card-title {
            padding: 0 30px 10px;
        }

        .jw-card-description {
            max-height: 3 * 18px;
            padding: 0 30px;

            -webkit-line-clamp: 3;
        }
    }
}
