$default-slider-spacing: 12px;
$featured-slider-max-width: 900px;

//
// jwCardSlider
// --------------------------------

.jw-card-slider {
    position: relative;
    overflow: hidden;

    &.is-sliding {

        .jw-card-slider-container .jw-card-slider-list,
        .jw-card.jw-card-flag-default,
        .jw-card-play-button,
        .jw-card-slider-slide,
        .jw-card-poster {
            @include single-transition(none, 0s !important);
        }
    }

    &-flag-loading {

        .jw-card-slider-title {
            opacity: 0.2;
        }
    }

    &-flag-now-playing .jw-card-slider-slide.first {

        .jw-card-container {
            background-color: rgba($black, 0.6);
        }

        .jw-card-controls {
            opacity: 1;
        }

        .jw-card-play-button {
            display: none;
        }

        .jw-card-text-now-playing {
            display: block;
        }
    }

    &.jw-lazy-load {

        .jw-card-poster {
            display: none !important;
            background: none !important;
        }
    }

    //
    // jwCardSliderContainer
    // --------------------------------

    .jw-card-slider-container {
        position: relative;
    }

    //
    // jwCardSliderTitle
    // --------------------------------

    .jw-card-slider-title {
        margin: 20px 90px;

        font-size: 21px;
        font-weight: bold;

        > .jw-link {
            display: inline-block;

            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }

            > span,
            > .jwy-icon {
                vertical-align: middle;
            }
        }

        .jw-card-slider-title-count {
            font-size: rem(18px);
            font-weight: normal;
        }
    }

    //
    // jwCardSliderAlign
    // --------------------------------

    .jw-card-slider-align {
        padding: 0 90px;
    }

    //
    // jwCardSliderList
    // --------------------------------

    .jw-card-slider-list {
        position: relative;
        white-space: nowrap;

        .jw-card-slider-slide {
            display: inline-block;
            position: relative;
            white-space: normal;
            vertical-align: top;
        }
    }

    //
    // jwCardSliderButton
    // --------------------------------

    .jw-card-slider-button {
        @include single-transition(color, 0.2s, ease, 0s);
        @include transform(translateY(-50%));

        display: block;
        position: absolute;
        top: 50%;

        color: $main-color;
        cursor: pointer;

        &-flag-left {
            left: 10px;
        }

        &-flag-right {
            right: 10px;
        }

        &:hover:not(.is-disabled) .jwy-icon {
            color: $primary-color;
        }

        &.is-disabled {
            cursor: default;
            opacity: 0.3;
        }

        .jwy-icon {
            font-size: 2em;
        }
    }

    //
    // jwCardSliderIndicator
    // --------------------------------

    .jw-card-slider-indicator {
        @include transform(translateX(-50%));

        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0;
        padding: 20px;
        list-style: none;
    }

    //
    // jwCardSliderIndicatorDot
    // --------------------------------

    .jw-card-slider-indicator-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;

        border-radius: 50%;
        background-color: $gray;

        &.is-active {
            background-color: $primary-color;
        }
    }
}

//
// jwCardSlider-flag-featured
// --------------------------------

.jw-card-slider.jw-card-slider-flag-featured {
    background-color: $featured-slider-bg-color;

    .jw-card-slider-button.jw-card-slider-button-flag-right {
        margin-left: 40px;
    }

    .jw-card-slider-button {
        color: $white;
    }

    .jw-card-slider-button .jwy-icon {
        font-size: 3em;
    }

    .jw-card-slider-align {
        max-width: $featured-slider-max-width;
        margin: 0 auto;
    }

    .jw-card-slider-title {
        display: none;
    }

    .jw-card-slider-list {

        @for $i from 1 through 10 {
            &.slides-#{$i} .jw-card-slider-slide {
                width: 100% / $i;
            }
        }
    }

    .jw-card-slider-slide {
        @include single-transition(opacity, 0.2s, ease-in, 0s);

        &:not(.is-visible) {
            opacity: 0.3;
            pointer-events: none;

            .jw-card-info,
            .jw-card-controls {
                display: none;
            }
        }
    }

    .jw-card-info {
        //@include single-transition(opacity, 0.3s, ease, 0s);
        padding-bottom: 45px;
    }
}

//
// jwCardSlider-flag-default
// --------------------------------

.jw-card-slider.jw-card-slider-flag-default {

    .jw-card-slider-align {
        padding: 0 #{90px - $default-slider-spacing / 2} 20px;
    }

    .jw-card-slider-list {

        @for $i from 1 through 10 {
            &.slides-#{$i} .jw-card-slider-slide {
                width: calc(#{100% / $i} - #{$default-slider-spacing});
            }
        }
    }

    .jw-card-slider-slide {
        @include single-transition(opacity, 0.2s, ease-in, 0s);
        margin: 0 $default-slider-spacing / 2;

        &-flag-error {
            opacity: 1;

            .jw-card-controls {
                opacity: 1;
            }
        }
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only() {

    .jw-card-slider {

        &-flag-featured .jw-card-slider-container {
            .jw-card-slider-title {
                margin: 20px;
            }

            .jw-card-slider-align {
                padding: 0 125px 0 15px;
            }
        }

        &-flag-default .jw-card-slider-container {

            .jw-card-slider-title {
                margin: 20px;
            }

            .jw-card-slider-align {
                padding: 0 125px 20px 15px;
            }
        }
    }
}

@include tablet-only () {

    .jw-card-slider.jw-card-slider-flag-featured {

        .jw-card-slider-indicator {
            padding: 0 13px 16px 0;
        }

        .jw-card-slider-indicator-dot {
            width: 8px;
            height: 8px;
        }
    }
}

@include tablet-and-larger () {

    .jw-card-slider.jw-card-slider-flag-default {

        .jw-card-slider-slide {
            opacity: 0.3;

            &.is-visible {
                opacity: 1;
            }

            &:not(.is-visible) {
                pointer-events: none;
            }
        }
    }
}
