
//
// jwDialog
// --------------------------------

.jw-dialog {
    // fix click through menu
    pointer-events: auto;

    .popup-head {
        display: none;
    }

    .popup-body {
        padding: 35px 15px 15px;
        color: $dialog-text-color;
        text-align: center;
    }

    .popup-buttons {
        padding: 10px 50px 35px;
    }
}
