//
// jwMenu
// --------------------------------

.platform-android .jw-menu-popover.popover,
.jw-menu-popover.popover {
    width: 370px;
    height: auto;
    max-height: 100vh;

    &.menu-animation {
        @include transform(translateX(-20%));
        opacity: 0;
    }

    &.menu-animation.ng-enter,
    &.menu-animation > .ng-enter {
        @include transition(opacity 0.3s ease-in-out, transform 0.3s ease-in-out);
    }

    &.menu-animation.ng-enter-active,
    &.menu-animation > .ng-enter-active {
        @include transform(translateX(0%));
        opacity: 1;
    }

    &.menu-animation.ng-leave,
    &.menu-animation > .ng-leave {
        @include transition(opacity 0.3s ease-in-out, transform 0.3s ease-in-out);
    }

    .scroll-content.has-header {
        top: 80px;
    }

    .jw-header-nav .jw-button-label {
        display: none;
    }

    .jw-menu-list {
        padding: 0 25px 20px 46px;

        .jw-button {
            width: 100%;
            padding: 0.2rem 10px;

            color: $main-color;
            font-weight: bold;
            text-align: left;

            &.active,
            &:hover {
                color: $primary-color;

                > .jwy-icon {
                    display: block;
                }
            }

            &.jw-button-disabled {
                font-weight: normal;
                opacity: 0.25;
            }

            .jwy-icon {
                display: none;
                position: absolute;
                top: 7px;
                right: -2px;
                font-size: rem(20px);
            }
        }

        .divider {
            height: 35px;
        }
    }

    .item-toggle {

        padding-top: 5px;
        padding-bottom: 5px;

        span {
            color: $main-color;
            font-weight: bold;
        }

        .toggle {
            top: 4px;
            right: 0;
        }

        .handle {
            top: 7px;
            border: 1px solid $disabled-color;
            box-shadow: 0 0 5px rgba($black, 0.35);
        }

        input:checked + .track .handle {
            border-color: $main-color;
        }

        .popover-arrow {
            display: none;
        }
    }
}

.platform-ios .jw-menu-popover.popover .scroll-content .scroll {
    padding-bottom: 50px;

}

@include mobile-only () {
    .platform-android .jw-menu-popover.popover,
    .jw-menu-popover.popover {
        width: 100vw;
        height: 100vh;

        .jw-menu-list {
            padding-left: 35px;
        }
    }
}
