//
// jwMeta
// --------------------------------

.jw-meta-duration {
    display: inline-block;
    line-height: 19px;
    vertical-align: middle;

    > span {
        display: inline-block;
        position: relative;
        top: -1px;
        padding: 0 8px;

        background-color: $white;
        color: $black;
        font-size: rem(11px);
        font-weight: normal;
    }
}

.jw-meta-align {
    max-width: 800px;
    margin: 0 auto;
}

.jw-meta-title {
    margin-bottom: 15px;
    font-size: rem(22px);
    font-weight: bold;
}

.jw-meta-container {
    padding: 15px 90px;

    background-color: $meta-description-bg-color;
    color: $white;
    line-height: 1.4em;
    white-space: normal;
}

.jw-meta-feed-title,
.jw-meta-feed-title:first-child {
    margin: 2em 0;
    text-align: center;
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-meta-container {
        padding: 15px 20px;
    }

    .jw-meta-duration {
        display: block;
        margin-top: 10px;
    }
}
