//
// jwMeta
// --------------------------------

.jw-meta-duration {
    position: relative;
    display: inline-block;
    top: -1px;
    padding: 0 8px;

    background-color: $white;
    color: $black;
    font-size: rem(11px);

    line-height: 19px;
    vertical-align: middle;
}

.jw-meta-align {
    max-width: 800px;
    margin: 0 auto;
}

.jw-meta-container {
    padding: 1.5em $subheader-nav-width;

    background-color: $meta-description-bg-color;
    color: $white;
    line-height: 1.4em;
    white-space: normal;
}

.jw-meta-row {
    @include display-flex();
}

.jw-meta-description {
    @include flex(1 1 auto);
    padding-right: 50px;
}

.jw-meta-controls {
    @include flex(0 0 auto);

    .jw-button > .jwy-icon {
        font-size: rem(28px);
    }
}

.jw-meta-feed-title,
.jw-meta-feed-title:first-child {
    margin: 2em 0;
    text-align: center;
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-meta-container {
        padding: 1.5em 20px;

        .jw-collapsible-text {
            position: relative;
            padding-bottom: 20px;

            .jw-collapsible-text-toggle {
                position: absolute;
                top: 100%;
                right: 0;
            }
        }
    }

    .jw-meta-description {
        padding-right: 0;
    }

    .jw-meta-row {
        @include flex-direction(column);
    }

    .jw-meta-controls {

        .jw-button {
            margin-right: 10px;
            padding: 0;
        }

        .jw-button-label {
            display: none;
        }
    }
}

@include tablet-and-larger () {

    .jw-meta-controls .jw-button {
        display: block;
        text-align: right;
        white-space: nowrap;
    }

}
