//
// jwPlayer
// --------------------------------

.jwplayer.jw-reset {

    .jw-title {
        display: none;
    }

    .jw-dock {
        margin: 30px;

        pointer-events: none;

        .jw-dock-button {
            pointer-events: all;
        }
    }
}

// scss-lint:disable PseudoElement
// Hide native chromecast button in video
// http://stackoverflow.com/a/29780590
video::-internal-media-controls-overlay-cast-button {
    display: none;
}
// scss-lint:enable PseudoElement

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    .jwplayer.jw-reset.jw-flag-aspect-mode {
        height: 100% !important;
    }
}
