//
// jwPlayer
// --------------------------------

.jwplayer.jw-reset {

    .jw-title {
        display: none;
    }

    .jw-dock {
        margin: 30px;

        pointer-events: none;

        .jw-dock-button {
            pointer-events: all;
        }
    }
}

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    .jwplayer.jw-reset.jw-flag-aspect-mode {
        height: 100% !important;
    }
}
