//
// jwPlayer
// --------------------------------

.jwplayer.jw-reset {

    .jw-title {
        display: none;
    }

    .jw-dock {
        margin: 30px;

        pointer-events: none;

        .jw-dock-button {
            pointer-events: all;
        }
    }
}

// scss-lint:disable SelectorFormat
.platform-android4_4 {
    .jwplayer.jw-flag-time-slider-above:not(.jw-flag-ads-googleima) {
        &:not(.jw-flag-ads) .jw-controlbar,
        &:not(.jw-flag-live) .jw-controlbar {
            height: 85px;
        }
    }
}

// scss-lint:enable SelectorFormat

// scss-lint:disable PseudoElement
// Hide native chromecast button in video
// http://stackoverflow.com/a/29780590
video::-internal-media-controls-overlay-cast-button {
    display: none;
    visibility: hidden;
}
// scss-lint:enable PseudoElement

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    .jwplayer.jw-reset.jw-flag-aspect-mode {
        height: 100% !important;
    }
}
