
//
// jwShare
// --------------------------------

.jw-share.popover {
    width: 240px;
    height: 175px;
    padding: 35px 35px 10px;

    .jw-share-buttons {
        margin-bottom: 15px;
        text-align: center;
    }
}

// scss-lint:disable SelectorFormat
.platform-ios7,
.platform-ios8,
.platform-ios9 {
    .jw-share.popover .jw-share-link {
        opacity: 0.4;
        pointer-events: none;

        .jw-button-label {
            color: $gray;
        }
    }
}
// scss-lint:enable SelectorFormat
