//
// jwVideoContainer
// --------------------------------

.jw-video-container {
    position: relative;
    width: 100vw;

    background-color: $black;
}

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    .platform-browser .jw-video-container {

        .jw-video-container-align {
            position: relative;
            max-width: 800px;
            height: 100%;
            margin: 0 auto;
        }

        .jw-video-container-aspect {
            padding-top: 56.25%;
        }

        .jw-video-container-player {
            @include cover();
        }
    }
}
