
.scroll-content {

    &.has-jw-header {
        top: $header-height;
    }

    &.has-jw-subheader {
        top: $header-height + $toolbar-height;
    }
}

.jw-flag-no-header {

    .scroll-content {
        &.has-jw-header {
            top: 0;
        }

        &.has-jw-subheader {
            top: $toolbar-height;
        }
    }

    .jw-toolbar.jw-toolbar-subheader {
        top: 0;
    }
}

//
// Mobile screen size uses a different header height so the scroll content needs to be changed also
//
@include mobile-only () {

    body:not(.jw-flag-no-header) .scroll-content {
        &.has-jw-header {
            top: $header-height-mobile;
        }

        &.has-jw-subheader {
            top: $header-height-mobile + $toolbar-height;
        }
    }
}
