//
// jwVideoContainer
// --------------------------------

.jw-video-container {
    position: relative;
    width: 100vw;

    background-color: $dark-color;
}

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    :not(.platform-cordova) {

        .jw-video-container {
            max-height: 50vh;
        }

        .jw-video-container .jw-video-container-aspect {
            padding-top: 56.25%;
        }

        .jw-video-container .jw-video-container-player {
            @include cover();
        }
    }
}
