.jw-mobile-player-container {
    // only transition top for mini player
    @include transition(top $sticky-player-transition-mobile);

    // start as absolute to scroll with page
    position: absolute;

    z-index: $view-z-index;

    // offset header height
    top: $header-height-mobile;

    width: 100%;
    // make container 'invisible'
    height: 0;

    &-inner {
        @include transition(all $sticky-player-transition-mobile);

        position: absolute;

        // stick to right
        top: 0;
        right: 0;

        width: 100%;
    }

    .jw-showcase-player {
        @include transition(all $sticky-player-transition-mobile);

        @include box-shadow(0 0 0 $black);
        width: 100%;
        border: 0 solid $black;
    }

    &.is-pinned,
    &.is-stuck {
        // set to fixed to prevent move on scroll
        position: fixed;
    }

    &.is-stuck {
        // offset top by header-height
        transform: translateY(-$header-height-mobile);
    }

    &.is-pinned {
        @include transition(top $sticky-player-transition-mobile);

        // move above all other elements
        z-index: $sticky-player-z-index;

        // transition top to 100%
        top: 100%;

        .jw-mobile-player-container-inner {
            // decrease width
            width: $sticky-player-width-mobile;

            // stick to right bottom but offset from screen corners
            margin-top: -$sticky-player-offset;
            padding-right: $sticky-player-offset;
        }

        .jw-showcase-player {
            // parent container uses top 100%, so offset this with translateY
            transform: translateY(-100%);
        }
    }

    &.is-dragging {
        // stop transition effect when dragging
        @include transition-property(none);
    }
}

@include tablet-and-larger() {
    .jw-mobile-player-container {
        // start as absolute to scroll with page
        position: absolute;

        z-index: $view-z-index;

        // offset header height
        top: $header-height + $base-spacing + $base-spacing-heading;

        &-inner {
            padding: 0 $base-spacing;
        }

        &.is-pinned {
            .jw-mobile-player-container-inner {
                // decrease width
                width: $sticky-player-width-tablet;
            }
        }
    }
}
