//
// jwPopups
// --------------------------------

.jw-popups {
    @extend %cover;
    position: fixed;
    z-index: $popups-z-index;

    .jw-popups-backdrop {
        @extend %cover;
        position: absolute;
    }

    .jw-popups-backdrop {
        background: rgba($black, 0.4);
    }
}

.jw-popup {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;

    .jw-popup-title {
        margin-bottom: 15px;
        text-align: center;
    }

    .jw-popup-text {
        line-height: 1.4em;
        text-align: center;
    }

    .jw-forgot-password {
        font-size: 0.9rem;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
    }

    .jw-popup-buttons {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .jw-errors-row {
        margin: 15px -30px -30px;
        padding: 15px 30px;
    }

    &-account-info {
        min-width: 500px;
    }

    &-login {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);

        max-width: 550px;

        .jw-login-social-buttons {
            width: 200px;

            .jw-button {
                color: $white;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        .jw-button-block {
            justify-content: center;

            .jw-button {
                flex: 1 0;
            }

            .jw-between-text {
                margin-bottom: 0;
                padding: 0 10px;
            }
        }

        .jw-form {
            width: 100%;
        }
    }

    .jw-button-row {
        @include display-flex;
        @include align-items(center);

        .jw-button,
        .jw-button:not(:last-child) {
            @include flex(1 1 100%);
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        .jw-button:disabled {
            cursor: not-allowed;
            opacity: 0.65;
        }
    }

    &-share {
        width: 240px;
        padding-top: 35px;
        padding-bottom: 35px;

        .jw-share-buttons {
            margin-bottom: 15px;
            text-align: center;
        }
    }

    &-confirm {
        width: 240px;

        .jw-button {
            min-width: 65px;
        }
    }

    &-alert {
        width: 400px;

        .jw-button {
            min-width: 65px;
        }
    }

    &-cookies {
        @include transform(none);
        top: 0;
        left: 0;
        width: 100%;
    }
}

.jw-popup-as-page {
    @include transform(translate(0, 0));
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px calc(50vw - 250px);
    max-width: none;
}

%cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@include mobile-only () {

    .jw-popup {
        width: 100%;
    }
}
