
//
// jwRightRail
// --------------------------------
.jw-side-rail {
    padding-bottom: $base-spacing;

    &-header {
        @include display-flex();
        @include align-items(center);
        height: 40px;
        margin: 0 $base-spacing $base-spacing;

        font-size: 14px;
        font-weight: 800;
    }

    &-scroll-wrapper {
        position: relative;
    }

    &-items {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &-ad {
        padding-bottom: $base-spacing;
    }

    &-item {
        @include display-flex();
        padding: 0 $base-spacing $base-spacing;
        cursor: pointer;

        &:focus,
        &:hover {
            // todo
        }

        &-image {
            @include flex(0 0 160px);
            width: 160px;
            height: 90px;
            margin-right: 10px;
        }

        &-info {
            @include align-self(center);
            display: -webkit-box;
            max-height: 5rem;
            margin: 4px 0;

            font-size: 0.8rem;
            line-height: 1rem;
            overflow: hidden;

            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }

    &-button {
        padding: 0 $base-spacing;

        .jw-button {
            width: 100%;
            color: $blue;
        }
    }
}

@include mobile-and-tablet () {

    .jw-side-rail {

        &-item-title {
            font-size: rem(14px);
        }

        &-button {
            text-align: center;

            .jw-button {
                width: 200px;
            }
        }
    }
}

@include tablet-only () {

    .jw-side-rail {

        &-items {
            @include display-flex();
            @include flex-flow(wrap);
        }

        &-item {
            @include flex(0 0 50%);
        }

    }
}
