//
// jwRightRail
// --------------------------------
.jw-side-rail {

    &-header {
        @include display-flex();
        @include align-items(center);
        height: 40px;
        padding: 0 $base-spacing;

        font-size: 14px;
        font-weight: 800;
    }

    &-scroll-wrapper {
        position: relative;
    }

    &-items {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &-item {
        @include display-flex();
        @include single-transition(background, 0.2s, ease);
        padding: $base-spacing;
        cursor: pointer;

        &:focus,
        &:hover {
            .jw-side-rail-item-image-overlay {
                opacity: 1;
            }
        }

        &-image {
            @include flex(0 0 160px);
            position: relative;
            width: 160px;
            height: 90px;
            margin-right: 10px;

            > img {
                width: 160px;
                height: 90px;
            }

            &-overlay {
                @include cover();
                @include display-flex();
                @include align-items(center);
                @include justify-content(center);
                @include single-transition(opacity, 0.2s, ease);
                background-color: rgba($black, 0.3);
                opacity: 0;

                .jw-button-play {
                    font-size: 0.825em;
                }
            }
        }

        &-info {
            @include align-self(center);
            display: -webkit-box;
            max-height: 5rem;
            margin: 4px 0;

            font-size: 0.8rem;
            line-height: 1rem;
            overflow: hidden;

            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }

    &-control {
        padding: 0 $base-spacing;

        .jw-button {
            width: 100%;
        }
    }
}

@include mobile-and-tablet () {

    .jw-side-rail {

        &-item-title {
            font-size: rem(14px);
        }

        &-control {
            text-align: center;

            .jw-button {
                width: 200px;
            }
        }
    }
}

@include tablet-only () {

    .jw-side-rail {

        &-items {
            @include display-flex();
            @include flex-flow(wrap);
        }

        &-item {
            @include flex(0 0 50%);
        }
    }
}
