.jw-pinned-player-container {
    $shadow-color: rgba(0, 0, 0, 0.4);
    $box-shadow: 0 0 20px $shadow-color;

    @include transition-property(transform, opacity);
    @include transition-duration(100ms);
    @include transition-timing-function(ease-in);

    position: absolute;

    top: $header-height-mobile;
    left: 0;

    width: 100%;

    &.is-pinned {
        // add box-shadow for floating effect
        @include box-shadow($box-shadow);

        position: fixed;

        top: 0;
    }

    &.is-stuck {
        $bg-color: rgba(255, 255, 255, 0.6);

        // add box-shadow for floating effect
        @include box-shadow($box-shadow);

        position: fixed;

        z-index: $sticky-player-z-index;

        right: $sticky-player-offset;
        bottom: $sticky-player-offset;

        width: $sticky-player-width-mobile;

        padding: 1px;
        background-color: $bg-color;

    }

    // stop transition effect when dragging
    &.is-dragging {
        @include transition-property(none);
    }
}
