.jw-sticky-player-container {
    $transition: 300ms ease-in-out;
    $box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    // only transition top for mini player
    @include transition(top $transition);

    // start as absolute to scroll with page
    position: absolute;

    z-index: $view-z-index;

    // offset header height
    top: $header-height-mobile;

    width: 100%;
    // make container 'invisible'
    height: 0;

    > div {
        @include transition(width $transition, padding $transition);

        position: absolute;

        // stick to right
        right: 0;

        width: 100%;
    }

    &.is-pinned,
    &.is-stuck {
        // set to fixed to prevent move on scroll
        position: fixed;

        > div {
            @include box-shadow($box-shadow);
        }
    }

    &.is-pinned {
        // offset top by header-height
        transform: translateY(-$header-height-mobile);
    }

    &.is-stuck {
        @include transition(top $transition, margin $transition, opacity $transition);

        $bg-color: rgba(255, 255, 255, 0.6);

        // move above all other elements
        z-index: $sticky-player-z-index;

        // transition top to 100%
        top: 100%;

        > div {
            // stick to right bottom
            right: $sticky-player-offset;
            bottom: $sticky-player-offset;

            // decrease width
            width: $sticky-player-width-mobile;

            padding: 1px;

            background-color: $white;
        }
    }

    &.is-dragging {
        // stop transition effect when dragging
        @include transition-property(none);
    }
}
