//
// jwVideoContainer
// --------------------------------

.jw-video-container {
    position: relative;
    width: 100%;

    .jw-video-row {
        position: relative;
    }

    .jw-toolbar-row {
        position: relative;
    }

    .jw-toolbar-row-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: $toolbar-height;
        min-height: $toolbar-height;

        margin-right: -100%;
        margin-left: -100%;
        z-index: 10;
    }

    &.is-loading {

        .jw-video-loading {
            display: block;
        }

        .jw-video-container-player {
            opacity: 0;
        }
    }

    .jw-video-container-aspect {
        padding-top: 56.25%;
        background: $black;
    }

    .jw-video-container-player {
        @include single-transition(opacity, 0.2s, ease-out);
        @include cover();
    }

    .jw-video-loading {
        @include transform(translate(-50%, -50%));
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1em;

        color: $white;
        font-size: rem(52px);
        line-height: 1em;
    }
}

@include mobile-only-landscape () {

    .jw-video-container .jw-container {
        max-height: calc(100vh - #{($header-height-mobile - $toolbar-height)});
        overflow: hidden;

        .jwplayer.jw-flag-aspect-mode {
            height: 100% !important;
        }
    }
}

@include tablet-only () {

    .jw-video-container {
        padding: 0 90px;
    }
}
