
.#{theme-name('blue')} {

    // import theme mixin
    @import '../mixins/theme';

    // override variables
    $body-bg: #2a374c;

    $btn-light-bg: #5b6064;
    $btn-light-color: $white;
    $btn-secondary-bg: #1e273f;

    $toolbar-bg: #2a374c;
    $toolbar-color: $white;

    $btn-icon-nested-color: $toolbar-bg;
    $btn-light-bg: #354560;

    $sidebar-bg: #2a374c;
    $sidebar-color: $white;

    $toggle-default-color: $black;
    $toggle-checked-color: $black;

    $card-slider-title-color: $white;
    $card-slider-button-color: $white;
    $card-slider-odd-bg-color: #354560;

    $card-info-bg: #1e273f;
    $card-info-color: $white;
    $card-info-hover-bg: #1e273f;
    $card-info-hover-color: $white;

    $card-menu-bg: #2c374a;

    $header-bg: #1e273f;
    $header-color: $white;

    $video-container-bg: #354560;

    $video-details-bg: #354560;
    $video-details-color: $white;

    $footer-color: $white;

    // create theme rules
    @include theme();
}
