
.#{theme-name('blue')} {

    // import theme mixin
    @import '../mixins/theme';

    // override variables
    $body-bg: #2c374a;

    $btn-light-bg: #5b6064;
    $btn-light-color: $white;

    $toolbar-bg: #2c374a;
    $toolbar-color: $white;

    $btn-icon-nested-color: $toolbar-bg;

    $sidebar-bg: #38455e;
    $sidebar-color: $white;

    $toggle-default-color: $black;
    $toggle-checked-color: $black;

    $card-slider-title-color: $white;
    $card-slider-button-color: $white;

    $card-info-bg: #1f273d;
    $card-info-color: $white;
    $card-info-hover-bg: #1f273d;
    $card-info-hover-color: $white;

    $card-menu-bg: #2c374a;

    $header-bg: #1f273d;
    $header-color: $white;

    $video-container-bg: #38455e;

    $rail-header-bg: #2c374a;
    $rail-header-color: $white;
    $rail-item-bg: #273041;
    $rail-item-color: $white;
    $rail-item-bg-hover: #3d4555;

    $video-details-bg: #38455e;
    $video-details-color: $white;

    $footer-color: $white;

    // create theme rules
    @include theme();
}
