
.jw-theme-dark {

    background-color: $theme-dark-bg-color;

    .jw-row-inverse {
        background-color: $black;
        color: $white;
    }

    .jw-card {

        .jw-card-menu {
            background-color: $black;
        }
    }

    .jw-offline-message {
        background: $primary-color;
    }

    .jw-header {
        color: $black;
    }

    .jw-toolbar {
        background-color: $theme-dark-bg-color;
    }

    .jw-sidebar,
    .jw-sidebar .jw-header {
        background-color: $dark-color;
        color: $white;
    }

    .jw-card-slider {

        &-flag-default {
            border-bottom: 1px solid darken($dark-color, 5%);
        }

        &-flag-error {
            .jw-card-slider-title .jw-link,
            .jw-card-slider-title > div {
                color: $theme-dark-slider-title-error-color;
            }
        }

        .jw-card-slider-button {
            color: $white;
        }

        .jw-card-slider-title {
            color: $white;
        }

        .jw-card-slider-slide {

            &-flag-loading {
                background: $black;

                .jw-card-aspect {
                    background: $main-color;
                }
            }

            &-flag-error {
                background: $black;

                .jw-card-aspect {
                    background: $theme-dark-slider-slide-loading-bg-color;
                }
            }
        }
    }

    .jw-card,
    .jw-card-grid-title {
        color: $white;
    }

    .jw-card.jw-card-flag-default {

        &:hover {
            .jw-card-info {
                background-color: $white;
                color: $dark-color;
            }
        }

        .jw-card-info {
            background-color: $black;
        }
    }

    .jw-toggle,
    .jw-toggle.jw-toggle-flag-checked {
        .jw-toggle-track {
            background: $black;
        }
    }

    .jw-footer {
        color: $white;
    }
}
