
.#{theme-name('dark')} {

    // import theme mixin
    @import '../mixins/theme';

    // override variables
    $body-bg: #181818;

    $btn-light-bg: #5b6064;
    $btn-light-color: $white;

    $toolbar-bg: #262626;
    $toolbar-color: $white;

    $btn-icon-nested-color: $toolbar-bg;

    $sidebar-bg: #262626;
    $sidebar-color: $white;

    $toggle-default-color: $black;
    $toggle-checked-color: $black;

    $card-slider-title-color: $white;
    $card-slider-button-color: $white;

    $card-info-bg: $black;
    $card-info-color: $white;
    $card-info-hover-bg: $card-info-bg;
    $card-info-hover-color: $card-info-color;

    $card-menu-bg: $black;

    $header-bg: $black;
    $header-color: $white;

    $video-container-bg: $black;

    $rail-header-bg: #3c3c3c;
    $rail-header-color: $white;
    $rail-item-bg: #262626;
    $rail-item-color: $white;
    $rail-item-bg-hover: #3c3c3c;

    $video-details-bg: $black;
    $video-details-color: $white;

    $footer-color: $white;

    // create theme rules
    @include theme();
}
