<div class="jw-cover jw-modal ng-cloak">
    <div class="jw-modal-container">
        <div class="jw-modal-image">
            <img class="jw-header-logo" ng-src="{{ ::vm.config.assets.banner }}" alt="logo"/>
        </div>
        <div class="jw-modal-message jw-modal-message-title">
            Your browser is out-of-date.
        </div>
        <div class="jw-modal-message jw-modal-message-small">
            Update your browser to view this website correctly.
        </div>
        <div class="jw-modal-row">
            <jw-button class="jw-button-primary jw-button-center-self" href="http://outdatedbrowser.com/" target="_blank">
                <span class="jw-button-label">Update my browser now</span>
            </jw-button>
        </div>
    </div>
</div>
