
.jwplayer.jw-skin-jw-showcase {

    &.jw-flag-time-slider-above {
        .jw-display-icon-container {
            text-shadow: 0 0 20px rgba($black, 0.3);
        }

        .jw-controlbar-left-group {
            padding-left: 8px;
        }

        .jw-controlbar-right-group {
            padding-right: 4px;
        }
    }

    &:not(.jw-flag-time-slider-above) {
        .jw-controlbar.jw-background-color {
            background-color: rgba($dark-color, .8);
        }
    }

    .jw-slider-horizontal,
    .jw-slider-vertical {

        .jw-progress {
            background-color: $primary-color;
        }

        .jw-knob {
            background-color: $white;
        }
    }

    .jw-button-color,
    .jw-toggle.jw-off,
    .jw-display-icon-container {
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }

    .jw-toggle {
        color: $primary-color;
    }

    .jw-menu.jw-background-color,
    .jw-slider-vertical.jw-background-color {
        background-color: rgba($dark-color, .8);
    }
}
