<div class="jw-popup jw-popup-login jw-popup-account-info">
    <h3 class="jw-popup-title">Account info</h3>
    <form class="jw-form" name="accountInfoForm" ng-submit="vm.saveUser(vm.password)" novalidate>

        <div class="jw-form-group jw-floating-label-wrapper" ng-if="vm.user.displayName">
            <p class="jw-form-group-label">
               Name
            </p>
            <p class="jw-form-group-info">
                {{vm.user.displayName}}
            </p>
        </div>

        <div class="jw-form-group jw-floating-label-wrapper">
            <p class="jw-form-group-label">
               Email
            </p>
            <p class="jw-form-group-info">
                {{vm.user.email}}
            </p>
        </div>

        <div class="jw-form-group jw-floating-label-wrapper">
            <input
                type="password"
                name="password"
                class="jw-form-control"
                id="password"
                placeholder="New password"
                ng-minlength="6"
                ng-model="vm.password"
                floating-label
                required
                tabindex="0"
            />
            <div class="jw-form-group-warnings">
                <p ng-if="accountInfoForm.password.$dirty && accountInfoForm.password.$error.required" class="jw-form-group-warning">
                    <b>Warning:</b> A password is required to sign up
                </p>
                <p ng-if="accountInfoForm.password.$dirty && accountInfoForm.password.$error.minlength" class="jw-form-group-warning">
                    <b>Warning:</b> A password has to have at least 6 characters
                </p>
                <div class="jw-form-group-warnings">
                    <p ng-repeat="error in vm.errors" class="jw-form-group-warning">
                        <b>Warning:</b> {{error.message}}
                    </p>
                </div>
            </div>
        </div>

        <div class="jw-form-group jw-floating-label-wrapper">
            <input
                type="password"
                name="passwordConfirm"
                class="jw-form-control"
                id="passwordconfirm"
                placeholder="Confirm new password"
                ng-model="vm.passwordConfirm"
                floating-label
                required
                compare-to="vm.password"
            />
            <div class="jw-form-group-warnings">
                <p ng-if="accountInfoForm.passwordConfirm.$dirty && accountInfoForm.passwordConfirm.$error.compareTo" class="jw-form-group-warning">
                    <b>Warning:</b> Passwords don't match
                </p>
            </div>
        </div>

        <div class="jw-button-row jw-button-block jw-popup-buttons">
            <button type="submit" class="jw-button jw-button-save jw-button-primary" ng-disabled="accountInfoForm.$invalid">
                <span class="jw-button-label">Save changes</span>
            </button>
        </div>

        <a href="" class="jw-form-group-text-center jw-delete-account" ng-click="vm.deleteAccount()">Delete account</a>
    </form>
</div>
