<div class="jw-popup jw-popup-login jw-popup-forgot-password">
    <h3 class="jw-popup-title">Forgot password</h3>
    <p class="jw-popup-text">So you have lost your password. Enter your email and we will send you a link where you can
        reset your password</p>

    <form class="jw-form" name="forgotPasswordForm" ng-submit="vm.sendPasswordResetEmail(vm.user.email)" novalidate>
        <div class="jw-form-group jw-floating-label-wrapper">
            <input tabindex="0" type="text" class="jw-form-control" id="email" placeholder="Enter email" ng-model="vm.user.email"
                   floating-label required>
            <div class="jw-form-group-warnings">
                <p ng-repeat="error in vm.errors" class="jw-form-group-warning">
                    <b>Warning:</b> {{error.message}}
                </p>
            </div>
        </div>

        <div class="jw-button-row jw-button-block jw-popup-buttons">
            <button type="submit" class="jw-button jw-button-login jw-button-primary" ng-disabled="forgotPasswordForm.$invalid">
                <span class="jw-button-label">Send mail</span>
            </button>
        </div>
    </form>
</div>
