<ion-view>

  <jw-header class="jw-subheader jw-header-full">
    <div class="jw-header-nav">
      <jw-header-back-button></jw-header-back-button>
    </div>
    <div class="jw-header-main">
      <jw-header-title>This page doesn't exist</jw-header-title>
    </div>
  </jw-header>

  <ion-content class="has-header has-subheader">
    <div class="jw-meta-container">
      <div class="jw-container">
        <div class="jw-meta-description">
          It's possible the video or playlist has been removed or you have used an invalid link.
        </div>
      </div>
    </div>
    <jw-footer></jw-footer>
  </ion-content>
</ion-view>
