<div class="jw-chromecast-controls">
  <div class="jw-chromecast-controls-actions">
    <div class="jw-chromecast-controls-buttons">
      <button class="jw-chromecast-controls-button" ng-click="vm.playButtonHandler()">
        <i class="jwy-icon"
           ng-class="{'jwy-icon-play': vm.playButtonState === vm.buttonStates.PAUSE,
                      'jwy-icon-pause': vm.playButtonState === vm.buttonStates.PLAY,
                      'jwy-icon-buffer': vm.playButtonState === vm.buttonStates.BUFFERING}"></i>
      </button>
    </div>
  </div>

  <jw-chromecast-controlbar total-time="vm.duration" current-time="vm.position" ng-if="vm.duration"></jw-chromecast-controlbar>

  <div class="jw-chromecast-controls-info" ng-if="vm.position">
    <div class="jw-chromecast-controls-group">
      <span class="jw-chromecast-controls-text">
        {{vm.position  | secondsToDateTime | date:'mm:ss'}}
      </span>
      <span class="jw-chromecast-controls-text">
        /
      </span>
      <span class="jw-chromecast-controls-text">
        {{vm.duration  | secondsToDateTime | date:'mm:ss'}}
      </span>
    </div>
    <div class="jw-chromecast-controls-group">
      volume button
    </div>
  </div>
</div>