<div class="jw-popup jw-popup-cookies">

  <div class="jw-cookies">
    <div class="jw-cookies-title">
      Cookies on this site
    </div>
    <div class="jw-cookies-explanation">
      <p>
        This site uses cookies to give you the best experience. If you would like to change your cookie preferences you may do so by <a href="http://www.aboutcookies.org" target="_blank">following these instructions</a>
      </p>
      <div class="jw-cookies-button-bar">
        <jw-button class="jw-button-primary" ng-click="vm.acceptButtonClickHandler()">
          <strong>I understand</strong>
        </jw-button>
      </div>
    </div>
  </div>

</div>