<ion-popover-view class="jw-cookies-popover">

  <div class="jw-cookies">
    <div class="jw-cookies-title">
      Cookies on this site
    </div>
    <div class="jw-cookies-explanation">
      <p>
        This site uses cookies to give you the best experience. If you would like to change your cookie preferences you may do so by <a href="http://www.aboutcookies.org/Default.aspx?page=1" target="_blank">following these instructions</a>
      </p>
      <div class="jw-cookies-button-bar">
        <jw-button class="jw-button-primary" ng-click="vm.acceptButtonClickHandler()">
          I understand
        </jw-button>
      </div>
    </div>
  </div>

</ion-popover-view>