<div class="jw-header jw-header-fixed">
  <div class="jw-header-container">
    <div class="jw-header-nav" ng-if="vm.userLoggedIn">
      <jw-button-menu></jw-button-menu>
    </div>
    <div class="jw-header-main">
      <img class="jw-header-logo" ui-sref="root.dashboard()" ng-src="{{ ::vm.config.assets.banner }}" alt="logo"/>
    </div>
    <div class="jw-header-nav" ng-if="vm.userLoggedIn">
        <jw-search ng-if="vm.config.searchPlaylist"></jw-search>
        <jw-user-badge ng-if="vm.config.options.useAuthentication"></jw-user-badge>
    </div>
  </div>
</div>
