<div class="jw-header-search-bar jw-search-bar" ng-show="vm.appStore.searchBarActive">
  <div class="jw-search-input-cap">
    <i class="jwy-icon jwy-icon-search"></i>
  </div>
  <div class="jw-search-input-container">
    <input class="jw-search-input" type="text" placeholder="Type to search..."
        ng-model="vm.appStore.searchPhrase" ng-model-options="{ debounce: 500 }"
        ng-keyup="vm.searchInputKeyupHandler($event)" ng-change="vm.searchInputChangeHandler()"/>
  </div>
  <div class="jw-search-input-cap">
    <jw-button class="jw-icon-button jw-button-close-search" ng-click="vm.closeSearchButtonClickHandler($event)"
    tabindex="0">
      <i class="jwy-icon jwy-icon-cross"></i>
    </jw-button>
  </div>
</div>