<ion-popover-view class="jw-menu-popover">
  <jw-header class="jw-header-static">
    <jw-header-left>
      <jw-header-menu-button icon="jwy-icon-cross"></jw-header-menu-button>
    </jw-header-left>
  </jw-header>
  <ion-content class="has-header">

    <div class="jw-menu-list">

      <jw-button ui-sref="root.dashboard()" ng-click="vm.menu.hide()">
        Homepage
      </jw-button>
      <jw-button ui-sref="root.feed({feedId: 'watchlist'})" ng-click="vm.menu.hide()"
          ng-class="{'jw-button-disabled': !vm.watchlist.playlist.length}">
        Saved videos ({{ vm.watchlist.playlist.length }})
      </jw-button>
      <jw-button ui-sref="root.feed({feedId: 'watchProgress'})" ng-click="vm.menu.hide()"
          ng-class="{'jw-button-disabled': !vm.watchProgress.playlist.length}">
        Continue watching ({{ vm.watchProgress.playlist.length }})
      </jw-button>

      <div class="divider"></div>

      <jw-button ng-repeat="feed in vm.feeds" ui-sref="root.feed({feedId: feed.feedid})">
        {{ feed.title }}
      </jw-button>

      <div class="divider"></div>

      <jw-button class="jw-button-disabled">
        All from A-Z
      </jw-button>

      <div class="divider"></div>

      <jw-button ng-click="vm.clearWatchlist()" ng-class="{'jw-button-disabled': !vm.watchlist.playlist.length}">
        Clear Saved videos
      </jw-button>
      <jw-button ng-click="vm.clearWatchProgress()"
          ng-class="{'jw-button-disabled': !vm.watchProgress.playlist.length}">
        Clear Continue watching
      </jw-button>

      <div class="divider"></div>

      <ion-toggle class="toggle-small" ng-model="vm.userSettings.conserveBandwidth">
        Conserve bandwidth
      </ion-toggle>
      <ion-toggle class="toggle-small" ng-model="vm.userSettings.watchProgress">
        <span class="is-hidden-mobile">Enable </span>Continue Watching list
      </ion-toggle>
    </div>
  </ion-content>
</ion-popover-view>