<div class="jw-side-rail">
  <div class="jw-side-rail-header">{{ vm.title }}</div>
  <ul class="jw-side-rail-items">
    <li class="jw-side-rail-item"
        ng-click="vm.itemClickHandler(vm.firstItem)"
        tabindex="0"
        role="button"
        aria-label="{{ vm.firstItem.title }}"
        ng-if="vm.firstItem">

      <div class="jw-side-rail-item-image">
        <img ng-src="{{ vm.firstItem.image }}" alt="{{ vm.firstItem.name}} poster image">
        <div class="jw-side-rail-item-image-overlay">
          <a class="jw-button jw-button-play">
            <i class="jwy-icon jwy-icon-play"></i>
          </a>
        </div>
      </div>
      <div class="jw-side-rail-item-info">
        <strong>{{ vm.firstItem.title }}</strong><br/>
        {{ vm.firstItem.description }}
      </div>
    </li>
    <li jw-screen-size="desktop">
      <jw-ad-slot slot-id="rail" class="jw-side-rail-ad"></jw-ad-slot>
    </li>
    <li class="jw-side-rail-item"
        ng-repeat="item in vm.items | limitTo:vm.itemsLimit"
        ng-click="vm.itemClickHandler(item)"
        tabindex="0"
        role="button"
        aria-label="{{ ::item.title }}">
      <div class="jw-side-rail-item-image">
        <img ng-src="{{ ::item.image }}" alt="{{ ::item.name}} poster image">
        <div class="jw-side-rail-item-image-overlay">
          <a class="jw-button jw-button-play">
            <i class="jwy-icon jwy-icon-play"></i>
          </a>
        </div>
      </div>
      <div class="jw-side-rail-item-info">
        <strong>{{ ::item.title }}</strong><br/>
        {{ ::item.description }}
      </div>
    </li>
  </ul>
  <div class="jw-side-rail-control" ng-if="vm.items.length > vm.itemsLimit">
    <jw-button class="jw-button-default" ng-click="vm.showMoreButtonClickHandler()">
      Show more
    </jw-button>
  </div>
</div>
