<div class="jw-side-rail">
  <div class="jw-side-rail-header">Up next</div>
  <div class="jw-side-rail-scroll-wrapper">
    <jw-scroll delegate="vm.scrollDelegate">
      <ul class="jw-side-rail-items">
        <li class="jw-side-rail-item" ng-repeat="item in vm.feed.playlist" ng-click="vm.itemClickHandler(item)">
          <div class="jw-side-rail-item-aspect">
            <img ng-src="{{ ::item.image }}" alt="{{ ::item.name}} poster image" class="jw-side-rail-item-image">
            <div class="jw-side-rail-item-overlay">
              <h3 class="jw-side-rail-item-title">
                {{ ::item.title }}
              </h3>
            </div>
          </div>
        </li>
      </ul>
    </jw-scroll>
  </div>
</div>
